{{ define "body" }}

<body class="{{ if .Site.Params.backgroundImage }} background-image"
	style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
	{{ end }}

	{{ define "main" }}
	<script src="/js/week.js"></script>
	<main role="main">
		<style>
			.timeline {
				display: flex;
				flex-wrap: wrap;
				width: 800px;
			}
		
			.week {
				width: 12px;
				/* increased by 2px to account for the border */
				height: 12px;
				/* increased by 2px to account for the border */
				margin: 1px;
				position: relative;
				box-sizing: border-box;
				/* ensures border does not increase the box's total width and height */
			}
		
			.week:hover .tooltip {
				visibility: visible;
				opacity: 1;
			}
		
			.tooltip {
				visibility: hidden;
				background-color: black;
				color: #fff;
				text-align: center;
				padding: 5px;
				border-radius: 6px;
				position: absolute;
				z-index: 1;
				bottom: 125%;
				/* Position the tooltip above the week rectangle */
				left: 50%;
				margin-left: -60px;
				opacity: 0;
				transition: opacity 0.3s;
			}
		
			.legend {
				display: table;
				margin-top: 20px;
				width: 100%;
			}

			.legend-item {
				display: table-row;
			}

			.legend-box {
				display: table-cell;
				width: 20px;
				height: 20px;
				margin-right: 5px;
				vertical-align: middle;
			}

			.legend-description {
				display: table-cell;
				padding-left: 10px;
				vertical-align: middle;
			}

			@keyframes blink {
				0% {
					background-color: transparent;
				}
		
				50% {
					background-color: black;
				}
		
				100% {
					background-color: transparent;
				}
			}
		
			.blinking {
				animation: blink 1s infinite;
			}
		</style>
				<div>
					<h1>{{ .Site.Title }}</h1>
					<div id="cover"></div>
					<div class="fixedtopad">
						<ins class="adsbygoogle"
							style="display:block;margin:0 auto;text-align:center;min-width:250px;max-width:728px;width:100%;max-height:90px;"
							data-ad-client="PUT_ID_HERE" data-ad-slot="PUT_ID_HERE" data-full-width-responsive="true"></ins>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
					<div id="content">
						<div id="tool-wrapper">
							<div class="topad">
								<amp-ad width="100vw" height="320" type="adsense" data-ad-client="PUT_ID_HERE"
									data-ad-slot="PUT_ID_HERE" data-auto-format="rspv" data-full-width="">
									<div overflow=""></div>
								</amp-ad>
							</div>
							<div id="tool">
								<div id="control-panel">
									<div id="form-title">Enter your Date of Birth:</div>
									<div id="form-wrapper">
										<input id="dateInput" type="date" name="dob[]" class="dateInput validate valid"
											value="1991-08-27" aria-label="input field" onchange="setSession()"
											autocomplete="off">
									</div>
									<button class="control" id="control" onclick="displayLife();">
										Show your life in weeks
									</button>
								</div>
								<div class="timeline" id="timeline"></div>
								<div class="legend" id="legend"></div>
								<div class="bottomad">
									<amp-ad width="100vw" height="320" type="adsense" data-ad-client="PUT_ID_HERE"
										data-ad-slot="PUT_ID_HERE" data-auto-format="rspv" data-full-width="">
										<div overflow=""></div>
									</amp-ad>
								</div>
								<div class="content-inner">
								<div class="justify-text">
									{{ .Content }}
								</div>	
								</div>
							</div>
							<div class="fixedbottomad">
								<ins class="adsbygoogle"
									style="display:block;margin:0 auto;text-align:center;min-width:250px;max-width:728px;width:100%;max-height:90px;"
									data-ad-client="PUT_ID_HERE" data-ad-slot="PUT_ID_HERE"
									data-full-width-responsive="true"></ins>
								<script>
									(adsbygoogle = window.adsbygoogle || []).push({});
								</script>
							</div>
							<!-- Global site tag (gtag.js) - Google Analytics -->
							<script async src="https://www.googletagmanager.com/gtag/js?id=PUT_ID_HERE"></script>
							<script>
								window.dataLayer = window.dataLayer || [];
								function gtag() { dataLayer.push(arguments); }
								gtag('js', new Date());
								gtag('config', 'PUT_ID_HERE');
							</script>
						</div>
	</main>
	{{ end }}
