{{ define "body" }}

<body class="{{ if .Site.Params.backgroundImage }} background-image"
	style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
	{{ end }}

	{{ define "main" }}
	<main role="main">
		<!-- <script src="/js/calculate_age.js"></script>-->
		<div>
			<h1>{{ .Site.Title }}</h1>
			<div id="cover"></div>
			<div class="fixedtopad">
<!--				<ins class="adsbygoogle"
					style="display:block;margin:0 auto;text-align:center;min-width:250px;max-width:728px;width:100%;max-height:90px;"
					data-ad-client="PUT_ID_HERE" data-ad-slot="PUT_ID_HERE" data-full-width-responsive="true"></ins>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script> -->
			</div>

			<div id="content">
				<div id="tool-wrapper">
					<div class="topad">
			<!--
				<amp-ad width="100vw" height="320" type="adsense" data-ad-client="PUT_ID_HERE"
							data-ad-slot="PUT_ID_HERE" data-auto-format="rspv" data-full-width="">
							<div overflow=""></div>
						</amp-ad> -->
					</div>
					<div id="tool">
						<div id="control-panel">
							<div id="form-title">Enter Date of Birth:</div>
							<div id="form-wrapper">
								<input id="dateInput" type="date" name="dob[]" class="dateInput validate valid"
									value="1991-08-27" aria-label="input field" onchange="setSession()"
									autocomplete="on">
							</div>
							<button class="control" id="control"
								onclick="calculateAndDisplayAge(); updateLifeExpectancyMeter(); gtag('event','calculateAge',{'event_category':'calculateAge','event_label':'calculateAge'});">Calculate My Age
							</button>
<button class="control" id="showPredictionButton" onclick="showHoroscope(); gtag('event','showHoroscope',{'event_category':'showHoroscope','event_label':'showHoroscope'});">
    Show today's life prediction
</button>
						</div>
						<div class="bottomad">
							<amp-ad width="100vw" height="320" type="adsense" data-ad-client="PUT_ID_HERE"
								data-ad-slot="PUT_ID_HERE" data-auto-format="rspv" data-full-width="">
								<div overflow=""></div>
							</amp-ad>
						</div>
						<p></p>
						<div id="horoscopeDisplay"></div>
						<div id="ageDisplay" style="display: none;">
							<table>
								<tr>
									<td colspan="2" id="combinedAgeDisplay"></td>
								</tr>
								<tr>
									<td>Years:</td>
									<td id="yearsDisplay"></td>
								</tr>
								<tr>
									<td>Months:</td>
									<td id="monthsDisplay"></td>
								</tr>
								<tr>
									<td>Weeks:</td>
									<td id="weeksDisplay"></td>
								</tr>
								<tr>
									<td>Days:</td>
									<td id="daysDisplay"></td>
								</tr>
								<tr>
									<td>Hours:</td>
									<td id="hoursDisplay"></td>
								</tr>
								<tr>
									<td>Minutes:</td>
									<td id="minutesDisplay"></td>
								</tr>
								<tr>
									<td>Seconds:</td>
									<td id="secondsDisplay"></td>
								</tr>
							</table>
						</div>
						<!--<button class="control" id="funFactButton" onclick="displayFunFact();" style="display: none;">Show Fun Fact</button>-->
						<div id="statisticsDisplay" style="display: none;">
							<h2>Some fun statistics based on your age:</h2>
							<table>
								<tr>
									<td><i class="fas fa-bed"></i> Time Slept (assuming 8 hours/day):</td>
									<td><span id="timeSlept"></span></td>
								</tr>
								<tr>
									<td><i class="fas fa-heartbeat"></i> Heartbeats (assuming avg. 80 beats/minute):</td>
									<td><span id="heartbeats"></span></td>
								</tr>
								<tr>
									<td><i class="fas fa-wind"></i> Number of Breaths Taken (assuming 16 breaths/minute):
									</td>
									<td><span id="breathsTaken"></span></td>
								</tr>
								<tr>
									<td><i class="fas fa-shoe-prints"></i> Steps Taken (assuming 4500 steps/day):</td>
									<td><span id="stepsTaken"></span></td>
								</tr>
								<tr>
									<td><i class="fas fa-utensils"></i> Meals Eaten (assuming 3 meals/day):</td>
									<td><span id="mealsEaten"></span></td>
								</tr>
								<tr>
									<td><i class="fas fa-comment-alt"></i> Words Spoken (assuming 7000 words/day):</td>
									<td><span id="wordsSpoken"></span></td>
								</tr>
								<tr>
									<td><i class="fas fa-book"></i> Books Read (assuming 5 books/year):</td>
									<td><span id="booksRead"></span></td>
								</tr>
								<tr>
									<td><i class="fas fa-cloud-moon"></i> Dreams Had (assuming 5 dreams/night):</td>
									<td><span id="dreamsHad"></span></td>
								</tr>
								<tr>
									<td><i class="fas fa-eye"></i> Number of Times You've Blinked (assuming 17.5
										blinks/minute):</td>
									<td><span id="blinks"></span></td>
								</tr>
								<tr>
									<td><i class="fas fa-laugh"></i> Laughs (assuming 17 laughs/day):</td>
									<td><span id="laughs"></span></td>
								</tr>
								<tr>
									<td><i class="fas fa-broom-ball"></i> Hair Growth (in inches):</td>
									<td><span id="hairGrowth"></span></td>
								</tr>
								<tr>
									<td><i class="fas fa-hand-point-right"></i> Nail Growth (in inches):</td>
									<td><span id="nailGrowth"></span></td>
								</tr>
								<tr>
									<td><i class="fas fa-glass-whiskey"></i> Amount of Water Drank (assuming 2 liters/day):</td>
									<td><span id="waterDrank"></span></td>
								</tr>
								<tr>
									<td><i class="fas fa-music"></i> Songs Listened To (assuming 15 songs/day):</td>
									<td><span id="songsListened"></span></td>
								</tr>
								<tr>
									<td><i class="fas fa-walking"></i> Miles Walked (assuming 2.5 miles/day):</td>
									<td><span id="milesWalked"></span></td>
								</tr>
							</table>
								<h2>Your life progress:</h2>
								<div class="progress-bar">
			    						<div class="progress-bar-fill" id="lifeProgress"></div>
								</div>
							<p></p>
							</button>
						</div>
					</div>
				</div>
				<div class="content-inner">
					<div class="justify-text">
						<!-- Include the description from index.md -->
						{{ with .Site.GetPage "/pages/tool-description" }}
						{{ .Content }}
						{{ end }}
					</div>
					<h1>Blog posts</h1>
					{{ range (.Paginator 20).Pages.ByDate.Reverse }}
					{{ if eq .Type "posts" }}
					<h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
					<div class="justify-text">
						<span>{{ .Summary }}</span>
						<span><a href="{{ .RelPermalink }}">Read More</a></span>
					</div>
					{{ end }}
					{{ end }}
				</div>
			</div>

		</div>
		<div class="fixedbottomad">
			<ins class="adsbygoogle"
				style="display:block;margin:0 auto;text-align:center;min-width:250px;max-width:728px;width:100%;max-height:90px;"
				data-ad-client="PUT_ID_HERE" data-ad-slot="PUT_ID_HERE" data-full-width-responsive="true"></ins>
			<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=PUT_ID_HERE"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());
			gtag('config', 'PUT_ID_HERE');
		</script>
		</div>
	</main>
	{{ end }}
